.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}

/* here goes the btn */
.btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    top: 12rem;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

/* card from previous proj */
.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 60rem;
}

.card__side {
    font-size: 2rem;
    background-color: orangered;
    height: 60rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
    /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); */
}

.card__side--front {
    background-color: #fff;
}

.card__side--back {
    transform: rotateY(180deg);
}

.card__side--back-1 {
    background-image: linear-gradient(to right bottom, rgba(228, 84, 133, 0.8), rgba(199, 8, 94, 0.8));
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0);
}

.card__picture {
    height: 28rem;
    background-blend-mode: screen;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card__details {
    padding: 3rem;
}

.card__details ul {
    list-style: none;
    width: 90%;
    margin: 0 auto;
}

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.3rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px groove #eee;
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.card__name-box {
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
}

.card__name-only {
    font-size: 1.4rem;
    text-transform: uppercase;
    /* margin-bottom: rem; */
    padding-bottom: 1rem;
}

.card__name-value {
    font-size: 5rem;
    font-weight: 100;
}
